
.header {
  font-size: xx-large;
  color: white;
  background: teal;
  width: 100%;
  text-align: center;
}
.body {
  width: 100%;
  background-color: gray;
  font-size: large;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
  "Lucida Sans", Arial, sans-serif;
color: white;
}

h1,h2,h3 {
  text-align: center;
  background-color: teal;
}
p {
  text-align: center;
}
.tophalf {
color: gray;
height: 100%;
width: 100%;
padding: 5px;
}
.bottomhalf {
  float: left;
  width: calc(100%/3);
  padding: 5px;
}
.seo {
  color: gray;
}
.footer {
  color: wheat
text-align: center;
background-color: teal;
}
